.tabs {
    font-family:'Roboto', sans-serif;
    color: #333;
    text-align: center;
  }
  
  .tab-nav {
    margin-bottom: 1rem;
  }
  
  .tab-list {
    list-style: none;
    padding: 0;
    display: flex; /* This makes the tabs horizontal */
    justify-content: space-between; /* This distributes the tabs evenly */
    margin-bottom: 1rem;
  }
  
  .tab-list li {
    flex: 1; /* This makes each tab take up an equal amount of space */
  }
  
  .tab-list button {
    width: 100%; /* This makes the button take up the full width of the li */
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
  }
  
  .tab-content {
    border: none /*1px solid #a0d3d1;*/
    /*padding: 1rem;*/
  }

  .tabStyle {
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15.5px;
    color: rgb(8, 13, 104);
    border-radius: 20%;
    display: inline-block; /* Ensure the background grows with the text */
  }

  .activeTabStyle{
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 15.5px;
    font-weight: 200;
    background-color: aqua;
    color: rgb(8, 13, 104);
    border-radius: 20%;
    display: inline-block; /* Ensure the background grows with the text */
  }
  .hoverText {
    position: absolute; /* Position the text below the button */
    top: 100%; /* Place the text directly below */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) translateY(10px); /* Adjust vertical position */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Make the text invisible */
    font-size: 14px;
    color: rgb(95, 90, 90);
    padding: 5px;
    border-radius: 3px;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words break */
    display: inline-block; /* Make the background wrap around the text */
    line-height: 1.5; /* Adjust line height if necessary */
    width: auto; /* Width adjusts automatically to the content */
  }
  
  .tabStyle:hover .hoverText {
    visibility: visible; /* Show the text when hovering */
    opacity: 1; /* Make the text visible */
  }