.tabs {
    font-family:'Monaco', Monospace;
    color: DodgerBlue;
    text-align: center;
  }
  
  .tab-nav {
    margin-bottom: 1rem;
  }
  
  .tab-list {
    list-style: none;
    padding: 0;
    display: flex; /* This makes the tabs horizontal */
    justify-content: space-between; /* This distributes the tabs evenly */
  }
  
  .tab-list li {
    flex: 1; /* This makes each tab take up an equal amount of space */
  }
  
  .tab-list button {
    width: 100%; /* This makes the button take up the full width of the li */
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .tab-content {
    border: none /*1px solid #a0d3d1;*/
    /*padding: 1rem;*/
  }

  .tabStyle {
    outline-width: thick;
    outline-color: rgb(99, 108, 112);
    font-family: 'Monaco', Monospace;
    text-align: center;
    font-size: '18px';
    font-weight: 200;
    border-width: 2px;
    color: rgb(14, 24, 156);
    border-radius: 20%;
  }

  .activeTabStyle{
    outline-width: thick;
    outline-color: rgb(99, 108, 112);
    font-family: 'Monaco', Monospace;
    text-align: center;
    font-size: '18px';
    font-weight: 200;
    border-width: 3px;
    background-color: aqua;
    color: rgb(14, 24, 156);
    border-radius: 20%;
  }
  