h1 {
  font-family: 'Monaco', Monospace; 
  color: rgb(2, 2, 71); /* Navy blue color */
  font-size: 2rem; 
  font-weight: bold; /* Makes the font bold */
  text-align: center; /* Centers the text */
  }
  
  h2 {
    font-family: 'Monaco', Monospace; 
    color: rgb(0, 0, 128); /* Navy blue color */
    font-size: 1.5rem; 
    text-align: center; /* Centers the text */
  }
  
  h3 {
    font-family: 'Monaco', Monospace; 
    color: rgb(74, 74, 162); /* Navy blue color */
    font-size: 1rem; 
    text-align: center; /* Centers the text */
  }

  .buttonStyle {
    outline-width: medium;
    outline-color: navy;
    font-family: 'Monaco', Monospace;
    text-align: center;
  }

  .quizField {
    color: rgb(0, 0, 0); 
    font-family: 'Arial', sans-serif;
    text-align: center; 
    margin-top: 20px;
  }

  /* TODO add class for quiz text and quiz number input so we can ensure they are spaced out*/
.quizNumInput{
  width: '60px';
  padding: '1px'; 
  margin-bottom: 5px;
  margin-top: 5px;
}

.quizBoxInput{
  margin-bottom: 5px;
  margin-top: 5px;
}

.goToButton{
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 50%; /* Rounded corners */
}



  