h1 {
  font-family: 'Monaco', Monospace; 
  color: rgb(2, 2, 71); /* Navy blue color */
  font-size: 2rem; 
  font-weight: bold; /* Makes the font bold */
  text-align: center; /* Centers the text */
  }
  
  h2 {
    font-family: 'Monaco', Monospace; 
    color: rgb(0, 0, 128); /* Navy blue color */
    font-size: 1.5rem; 
    text-align: center; /* Centers the text */
  }
  
  h3 {
    font-family: 'Monaco', Monospace; 
    color: rgb(74, 74, 162); /* Navy blue color */
    font-size: 1rem; 
    text-align: center; /* Centers the text */
  }

  .buttonStyle {
    outline-width: medium;
    outline-color: navy;
    font-family: 'Monaco', Monospace;
    text-align: center;
  }

  .quizField {
    color: rgb(0, 0, 0); 
    font-family: 'Arial', sans-serif;
    text-align: center; 
    margin-top: 20px;
  }

  /* TODO add class for quiz text and quiz number input so we can ensure they are spaced out*/
.quizNumInput{
  width: '60px';
  padding: '1px'; 
  margin-bottom: 5px;
  margin-top: 5px;
}

.quizBoxInput{
  margin-bottom: 5px;
  margin-top: 5px;
}

.goToButton{
  background-color: #5e7ec4; /* Green background */
  font-family: 'Monaco', Monospace; 
  border: navy; /* Remove borders */
  color: white; /* White text */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  padding: 15px;
  display: inline-block; /* Make the button inline */
  font-size: 14px; /* Increase font size */
  margin: 4px 2px; 
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 30%; /* Rounded corners */
}

.saveButton{
  background-color: rgb(239, 13, 13); /* Green background */
  font-family: 'Monaco', Monospace; 
  border: 2px rgb(128, 0, 0); /* Remove borders */
  color: white; /* White text */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  padding: 10px;
  display: inline-block; /* Make the button inline */
  font-size: 12px; /* Increase font size */
  margin: 3px 1px; 
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 20%; /* Rounded corners */
}

.emojiButton{
  border: none;
  padding: 2px;
  margin-bottom: 3px;
}





  